<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160426824134-63l6t2emapsvk27nrb2mhh4gcbol1l26.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160426824134-63l6t2emapsvk27nrb2mhh4gcbol1l26</string>
	<key>API_KEY</key>
	<string>AIzaSyBZAi7TcWKDSR_bqqIXvw070_re_sWNIDk</string>
	<key>GCM_SENDER_ID</key>
	<string>160426824134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dev.poc</string>
	<key>PROJECT_ID</key>
	<string>muviwatchparty</string>
	<key>STORAGE_BUCKET</key>
	<string>muviwatchparty.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:160426824134:ios:af7531ef8eb65e545a62c7</string>
	<key>DATABASE_URL</key>
	<string>https://muviwatchparty-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>
